<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Library Management System</title>
</head>
<body>
<header>
    <h1>Library System Application</h1>
</header>
<nav>
    <ul>
        <li><a th:href="@{/books}">Book List</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/registration}">Registration</a></li>
    </ul>
</nav>
<main>
    <section th:replace="~{::mainContent}"></section>
</main>
<footer>
    <p>&copy; 2023 Library Management System</p>
</footer>
</body>
</html>
